* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Delius", cursive;
    background-color: #2C1E60;
    color: white;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5rem;
}

.heading-prim {
    font-size: 4rem;
}

.weather-card--container {
    background-color: #3D2F82;
    width: 50vw;
    height: 84vh;
    margin-top: 4rem;
    border-radius: 24px;
}

.error-msg--container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 2rem;
}

.error-msg--text {
    font-size: 2.4rem;
}

.weather-card--content {
    padding: 6rem 2.5rem;
}

.day-card {
   background-image: url('https://t3.ftcdn.net/jpg/03/57/76/24/360_F_357762401_Q6IYG6rSR6yoy2mnBsOF3ZtuYVzBNARe.jpg');
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   margin-top: 4rem;
   border-radius: 14px;
   padding: 3rem;
   color: black;
}

.day-card--weather--info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.day-card--weather-img {
    height: 60px;
    width: 60px;
}

.day-card--day {
    font-size: 2.5rem;
}

.day-card--weather {
    font-size: 2.2rem;
}

.day-card--info {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
}

.temp {
    font-size: 1.8rem;
}

.info {
    font-size: 1.8rem;
}

.city {
    font-size: 1.8rem;
    text-transform: capitalize;
}

.country {
    font-size: 1.8rem;
    text-transform: capitalize;


}

.weather-card--weather--info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.weather-info--day {
    font-size: 2.7rem;
}

.weather--info-weather {
    font-size: 2.2rem;
    color: #E1D9D1
}

.weather--info-show {
    display: flex;
    align-items: center;
    gap: .6rem
}

.weather-img {
    width: 40px;
    height: 40px;
}

.weather-info--temp {
    font-size: 2.4rem;
}

.heading-location {
    font-size: 3rem;
}

.heading-location span {
    text-transform: capitalize;
}

.form-container {
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.city-form {
    display: flex;
    gap: 2rem;

}

.input-city {
    font-family: "Delius", cursive;
    width: 30rem;
    padding: .6rem;
    font-size: 1.9rem;
}

.submit-city {
    font-family: "Delius", cursive;
    border: none;
    font-size: 1.9rem;
    padding: 0 3rem;
    background-color: #6DE1D2;
    cursor: pointer;
    transition: all 0.3s;
}

.submit-city:hover {
    background-color: #62cbbd;
}

.loader-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.loader {
    width: 175px;
    height: 80px;
    display: block;
    margin: auto;
    background-image: radial-gradient(circle 25px at 25px 25px, #FFF 100%, transparent 0), radial-gradient(circle 50px at 50px 50px, #FFF 100%, transparent 0), 
    radial-gradient(circle 25px at 25px 25px, #FFF 100%, transparent 0), linear-gradient(#FFF 50px, transparent 0);
    background-size: 50px 50px, 100px 76px, 50px 50px, 120px 40px;
    background-position: 0px 30px, 37px 0px, 122px 30px, 25px 40px;
    background-repeat: no-repeat;
    position: relative;
    box-sizing: border-box;
}

.loader::after {
    content: '';  
    left: 0;
    right: 0;
    margin: auto;
    bottom: 20px;
    position: absolute;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 5px solid transparent;
    border-color: #FF3D00 transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}
  
@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 